.sign-in-page {
  min-height: 100svh; /* Use 100svh to account for mobile browser UI */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.sign-in-card {
  width: min(100%, 343px);
  padding: 40px 20px;
  border-radius: 20px;
  background: linear-gradient(180deg, #7EC7FF 0%, #ADFFDA 100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
}

.sign-in-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
  font-family: 'Inter';
  font-size: 18px;
}



.sign-in-card h1 {
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  margin: 0;
 
}

.sign-in-card > p {
  font-family: 'Inter Regular';
  margin: 11px 0;
  text-align: center;
  color: #515151;
  font-size: 12px;
}

.social-button,
.create-account-button,
.submit-button,
.sign-in-card input {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 0;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
    }




.create-account-button,
.submit-button {
  padding: 16px 20px;
  border-radius: 50px;
  font: 16px 'Inter';
}


.sign-in-divider {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 11px 0;
  color: #BABABA;
  font-size: 12px;
  font-family: 'Inter Regular';
}

.sign-in-divider::before,
.sign-in-divider::after {
  content: '';
  height: 1px;
  flex: 1;
  background: #b8b8b8;
}

.sign-in-card form {
  display: grid;
  gap: 4px;
}

.sign-in-card label {
  font-size: 14px;
  font-family: 'Inter';
}



.sign-in-card input + label {
  margin-top: 9px;
}

.submit-button {
  height: 59px;
  margin-top: 67px;
  background: #000;
  color: #fff;
}

.create-account-button {
  height: 59px;
  margin-top: 11px;
}

#email,
#password {
    font: 12px 'Inter';
}

#email,
#password {
  border: 2px solid transparent;
  outline: none;
  height: 41px;
  padding: 16px 20px;
  border-radius: 20px;
}

#email:focus,
#password:focus {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, rgba(15, 126, 211, 1), rgba(4, 54, 93, 1)) border-box;
}

.social-button{
  height: 37px;
  font : 12px 'Inter';
  padding: 16px 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.20);
}

.social-button + .social-button {
  margin-top: 11px;
}
