/* Language Level Page Styles */
.language-level-content {
  position: relative;
  padding: 70px 16px 0;
  text-align: center;
}

.language-level-content h1 {
font-family: 'Inter Bold';
  font-size: 24px;
}

.language-level-content > p {
  margin: 20px 0 0;
  color: #515151;
  font-family: 'Inter Regular';
  font-size: 12px;
}

.language-level-character {
  padding: 39px  0;
  
}

.language-level-character img {
  position: absolute;
  transform: translateX(-50%);
  height: 400px;
}


.language-level-continue {
  position: fixed;
  right: 16px;
  bottom: 35px;
  left: 16px;
  width: calc(100% - 32px);
  height: 59px;
  border: 0;
  border-radius: 50px;
  background: #000;
  color: #fff;
  font: 16px 'Inter', Arial, sans-serif;
  cursor: pointer;
}
